
.character-container
  min-width: 200px
  div
    margin-bottom: 4px

.progress-bar
  transition: width 1s ease-out


.character-name
  img
    display: inline
    height: 18px
    margin-right: 6px

  p
    display: inline
    line-height: 20px
    height: 20px
    font-size: 1.2em
    vertical-align: middle