.container
  width: 90%
  margin: 70px 24px
  display: flex
  flex-direction: column
  align-items: flex-start

.character-main-details
  margin-bottom: 30px
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start

  img
    width: 140px
    height: 140px
    margin-right: 20px
    border: 2px solid #ccc
    border-radius: 4px

  .character-details
    width: 100%


  .name-form
    display: flex
    width: 100%
    flex-direction: column
    align-items: flex-start
    margin-bottom: 14px

    label
      text-align: right
      margin-right: 10px
      font-size: 1.4em

    input
      width: 100%
      border: 2px solid #ccc
      border-radius: 4px
      padding: 2px


  .radio-type
    margin: 0
    display: flex
    flex-direction: column
    align-items: flex-start
    label
      text-align: right
      margin-right: 10px
      font-size: 1.2em

.image-form
  margin-bottom: 30px
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

  label
    text-align: right
    margin-right: 10px
    font-size: 1.3em
    margin-bottom: 2px

  input
    width: 100%
    border: 2px solid #ccc
    border-radius: 4px
    padding: 2px



.line-stats
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center

  label, p, mat-icon
    margin: 0
    height: 34px
    line-height: 34px
    font-size: 1.2em
    display: inline

  label
    text-align: right
    margin-right: 10px
    font-size: 1.3em

  p
    margin-right: 5px

.level-details
  margin-bottom: 34px

.stats-details
  margin-bottom: 34px

.button-container
  margin: 40px 0

.btn-remove
  font-size: 1.2em
  padding: 10px

.btn-active

.btn-inactive
  color: #ccc
  &:hover
    cursor: default


.btn-random
  margin: 50px 0