<div class="container">

  <div class="battle-area row justify-content-center" *ngIf="!firstRound">
    <div class="col col-sm-4 col-md-3 d-flex flex-row justify-content-center">
      <app-character-ui class="batle-character" [character]="fighter">
      </app-character-ui>

    </div>

    <div class="col-12 col-sm-4">

    </div>

    <div class="col col-sm-4 col-md-3 d-flex flex-row justify-content-center">
      <app-character-ui class="batle-character" [character]="opponent">
      </app-character-ui>
    </div>
  </div>


</div>



<div class="button-switch d-flex flex-row justify-content-end"
  *ngIf=" firstRound || selectedFighter !== fighter || (inCharacterSelection && fighter!.isAlive)">

  <button class="fighter-switch-button btn btn-sm btn-success"
    *ngIf="firstRound || inCharacterSelection" (click)="confirmSwitchFighter()">
    Select Fighter
  </button>

  <button class="fighter-switch-button btn btn-sm btn-success"
    *ngIf="!firstRound && !inCharacterSelection"
    (click)="confirmSwitchFighter()">
    Switch Fighter
  </button>


  <button class="fighter-switch-button btn btn-sm btn-danger"
    *ngIf="!firstRound && !inCharacterSelection" (click)="cancelSwitch()">
    Cancel
  </button>


</div>

<div class="action-menu row justify-content-center bg-white">
  <div
    class="actions col col-6 col-xl-2 d-flex align-items-center justify-content-center"
    *ngIf="!inCharacterSelection" (click)="performAttack()">
    {{attackMap.get(fighter.type)}}
  </div>
  <div
    class="actions col col-6 col-xl-2 d-flex align-items-center justify-content-center"
    *ngIf="!inCharacterSelection" (click)="performSpecial()">
    {{specialMap.get(fighter.type)}}
  </div>
  <div
    class="fighter-selection col col-12 col-xl-8 d-flex flex-row flex-nowrap justify-content-between"
    [ngClass]="{'unique': inCharacterSelection}">
    <app-character-grid-item *ngFor="let character of userTeam"
      [ngClass]="{'dead-fighter': !character.isAlive}" class="item-detail"
      (click)="selectFighter(character)"
      [isSelected]="character === selectedFighter&& character.isAlive"
      [isFighting]="character === fighter && character.isAlive"
      [type]="'fighter'" [character]="character">
    </app-character-grid-item>
  </div>

</div>
<!-- [experienceToLvlUp]="requiredExperienceToLvlUp(fighter)"
    [isSelected]="fighter === selectedFighter"
    (click)="selectCharacter(fighter)" -->