mat-icon
  position: absolute
  top: 120px
  left: 2%
  width: 80px
  height: 80px
  border: 2px solid #ffffff00
  border-radius: 50%

  line-height: 76px
  text-align: center
  padding-left: 20px
  font-size: 50px
  color: #333
  transition: 0.2s
  z-index: 10

  &:hover
    cursor: pointer
    border: 2px solid #ccc
    border-radius: 50%
    transform: scale(1.1)


