<div class="half-container">
  <h2>Register:</h2>
  <form class="form-section" [formGroup]="registerForm"
    (ngSubmit)="validateAndRegister(formDirective)" #formDirective="ngForm">

    <div class="register-input">
      <label for="username">Username:</label>
      <input class="username" type="username" formControlName="username">
      <label for="email">Email:</label>
      <input class="email" type="email" formControlName="email">
      <label for="password">Password:</label>
      <input class="password" type="password" formControlName="password">
      <label for="passwordConfirmation">Repeat password:</label>
      <input class="passwordConfirmation" type="password"
        formControlName="passwordConfirmation">
    </div>

    <div class="button_container">
      <button class="register_button" type="submit">Register</button>
    </div>
  </form>

</div>