$item-border: 2px solid #333
$background-color: #fff
$fill-color: #3fff33
$scale: 1.05
$transition-time: 0.4s ease-in-out


@mixin clicable-hover
  transform: scale($scale)
  cursor: pointer

@mixin menu-item-style
  border: $item-border
  border-radius: 5px
  transition: $transition-time
  &:hover
    @include clicable-hover


@mixin large-menu-style
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  h2
    font-size: 4em
    margin-left: 20px
    padding: 0
  img
    object-fit: cover
    width: 160px
    height: 160px
    margin: 40px


@mixin small-menu-style
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  h2
    font-size: 2.4em
    padding: 0
    margin: 6px 0
  img
    object-fit: cover
    width: 140px
    height: 140px
    margin: 20px



.container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  gap: 1em 1em
  grid-auto-flow: row
  grid-template-areas: "battle battle" "party graveyard"
  justify-items: stretch
  width: 600px
  height: 500px
  margin: 0 auto
  margin-top: 5em

.battle-container
  @include menu-item-style
  @include large-menu-style
  grid-area: battle

.party-container
  @include menu-item-style
  @include small-menu-style
  grid-area: party

.graveyard-container
  @include menu-item-style
  @include small-menu-style
  grid-area: graveyard


h2
  font-size: 2em

  margin-top: 1em
  margin-bottom: 1em
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 1px
